<header class="flex-container">
        
            <a aria-label="Home" class="logo" routerLink="/">
                <img class="account-icon" src="https://www.redditstatic.com/avatars/avatar_default_08_D4E815.png">
                <span class="reddit-text">
                    Spring Connect Angular
                </span>
            </a>
       
        <div class="flex-grow-1 float-right">
                <a routerLink="/sign-up" class="sign-up mr-2">Sign up</a>
                <a routerLink="/login" class="login mr-2">Login</a>
        </div>
</header>