html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa; /* Light grey background */
}

.register-section {
  width: 100%;
  max-width: 800px; /* Max width of the form */
  padding: 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-header {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 20px;
}

.form-group {
  margin: 20px;
}

.form-group label {
  font-weight: bold;
  padding: 10px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sign-up {
  background-color: #0079D3;
  border-color: #0079D3;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.sign-up:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

a {
  color: #0079D3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
